[Desktop Entry]
Name=Telamon Light
Comment=Title bar with rounded-square caption buttons
X-KDE-PluginInfo-Name=Telamon-Light
X-KDE-PluginInfo-Author=Telamon OS
X-KDE-PluginInfo-License=GPL
